body{
    background-color:#303245;
}

.header {
    padding: 1.5vh;
    margin: 1vh 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}

.main-content{
    margin: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2vh;
}

.top{
    margin: 2vh;
    /* margin-left: 4vh;
    margin-right: 4vh; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* .curline{

}

.upload{

}

.generate-ai{
    
} */

.center{
    margin: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2vh;
}

.bottomNav{
    margin: 1.5vh 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topimg, .btmimg{
    display: flex;
    padding: 2vh;
    margin: 1.5vh 2vh;
    flex-direction: row;
    justify-content: space-evenly;
}

img{
    border-radius: 20px;
}

input, button{
    height: 7vh;
    border-radius: 20px;
    border-width: 0;
    margin: 1vh;
    font-size: larger;
    width: 45vh;
}

.generate{
    background-color: rgb(198, 36, 12);
    color: white;
    font-size: larger;
    text-decoration: solid;
    text-transform: capitalize;
}

.cur{
    padding-left: 3%;
    width: 100vh;
}

textarea {
    margin: 1vh;
    width: 45vh;
    height: 7vh;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-radius: 20px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: larger;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
    resize: none;
  }
  
  
  textarea:focus {
      background: none repeat scroll 0 0 #FFFFFF;
      outline-width: 0;
  }

  .next:hover{
    background-color: rgb(65, 156, 100);
}


.selected {
    border: 3px solid rgb(119, 199, 99);
  }