body{
    background-color:#303245;
}

.header {
    padding: 1.5vh;
    margin: 1vh 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}

.main-content{
    margin: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2vh;
}

.top{
    margin: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* .curline{

}

.upload{

}

.generate-ai{
    
} */

.center{
    margin: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2vh;
}

.bottomNav{
    margin: 1.5vh 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topimg, .btmimg{
    display: flex;
    padding: 2vh;
    margin: 1.5vh 2vh;
    flex-direction: row;
    justify-content: space-evenly;
}

img{
    border-radius: 20px;
}

input, button{
    height: 7vh;
    border-radius: 20px;
    border-width: 0;
    font-size: larger;
    width: 45vh;
}

.generate{
    background-color: rgb(198, 36, 12);
    color: white;
    font-size: larger;
    text-decoration: solid;
    text-transform: capitalize;
}

.cur{
    padding-left: 3%;
    width: 100vh;
}