<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="main.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/After-Submit.css">
    <title>Edit - YouCreate</title>
</head>
<body>
    <div class="form ">
      <form>    
    <div class="title">Senetence</div>
    <div class="input-container">
      <input id="Sentence-display" class="input" type="text" placeholder={{paragraph}}/>
      <label for="Sentence-display" class="placeholder"></label>
      </div>
      <form class="function" >
        <button  type="submit"class="navigation">Previous</button>
        <button  type="submit" class="navigation">Next</button>
      </form>
    </div>
  </form>
  <div class="images-container">  
  <div class="indiviual-image">
   <img class="final-image" src="dummy_image.jpeg" alt="" height="200px" width="150px">
  </div>
  <div class="indiviual-image">
    <img  class="final-image" src="dummy_image.jpeg" alt="" height="200px" width="150px">
  </div>
  <div class="indiviual-image">
    <img  class="final-image" src="dummy_image.jpeg" alt="" height="200px" width="150px">
  </div>
  </div>
  <form class="btn-container">
    <button class="bottom-btn">Generate from AI</button>
    <button class="bottom-btn">Browse</button>
    <button class="bottom-btn">Get from Web</button>
  </form>>
</body>
</html>