<html>

<head>
    <title>Select Image</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/imgselect.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
    <!-- <form action="" class="imgSelect"> -->
        <div class="header">
            <h1 class="heading">YouCreate</h1>
        </div>
        <div class="main-content">
            <div class="top">
                <div class="tops cur-line">
                    <textarea class="cur" contenteditable="false">{{paragraph}}</textarea>
                </div>
                <div class="tops upload">
                    <button><i class="fa fa-upload" aria-hidden="true"></i> Upload</button>
                </div>
                <div class="tops generate-ai">
                    <button class="generate" value="">Generate AI Image</button>
                </div>
            </div>
            <div class="center">
                <div class="topimg">
                    <div class="grid-image">
                        <img class="final-image" id="img0" src="{{img0}}" alt="" height="240px" width="360px" />
                    </div>
                    <div class="grid-image">
                        <img class="final-image" id="img1" src="{{img1}}" alt="" height="240px" width="360px" />
                    </div>
                    <div class="grid-image">
                        <img class="final-image" id="img2" src="{{img2}}" alt="" height="240px" width="360px"/>
                    </div>
                </div>
                <div class="btmimg">
                    <div class="grid-image">
                        <img class="final-image" id="img3" src="{{img3}}" alt="" height="240px" width="360px"/>
                    </div>
                    <div class="grid-image">
                        <img class="final-image" id="img4" src="{{img4}}" alt="" height="240px" width="360px"/>
                    </div>
                    <div class="grid-image">
                        <img class="final-image" id="img5" src="{{img5}}" alt="" height="240px" width="360px"/>
                    </div>
                </div>
                </div>
            </div>
            <div class="bottomNav">
                    <button class="next"><i class="fa fa-arrow-left" aria-hidden="true"></i> Previous</button>

                    <form class="function" id="editForm" name="editForm" action="/screen" method="POST">
                        <input type="hidden" name="index" value="{{index}}">
                        <input type="hidden" name="story" value="{{request.form['story']}}">
                        <input type="hidden" name="submit_type" id="submit_type" value="">
                        <!-- <button type="submit" name="submit1" class="navigation" id="nextBtn">Next</button> -->
                        <button class="next" type="submit" name="submit1" id="nextBtn">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                    </form>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="{{url_for('static' , filename='finalAPI.js')}}"></script>
    <!-- </form> -->
</body>

</html>