<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="main.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>Document</title>
</head>
<body>
    <div class="form">
        <div class="title">Welcome</div>
        <div class="input-container ic1">
          <input id="Title" class="input" type="text" placeholder=" " />
          <div class="cut"></div>
          <label for="Title" class="placeholder">Title</label>
        </div>
        <div class="input-container ic2">
          <input id="story" class="input" type="text" placeholder=" " />
          <div class="cut"></div>
          <label for="story" class="placeholder">Script</label>
        </div>
        <button type="text" class="submit">submit</button>
      </div>
</body>
</html>